<% layout('/layouts/boilerplate') -%>
<body class="body">
  <h1>All Listings</h1>
  <div class="row">
    <% for (let listing of allListings) { %>
      <div class="col-md-3 mb-4">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
          <div class="card h-100" style="width: 100%; cursor: pointer;">
            <!-- <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"> this is 1st i added but the updates image is not visible on home -->
             <% const imageUrl = (listing.image && listing.image.url) || listing.image; %>
              <img src="<%= imageUrl %>" class="card-img-top" alt="listing_image" onerror="this.style.display='none'" />

            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text">
               ₹<%= listing.price ? listing.price.toLocaleString("en-IN") : "Not available" %>/night
              </p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
